

.classContainerQuetion{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.classBtnCorrecto{
    background-color: rgb(36, 214, 36);
}

.classBtnIncorrecto{
    background-color: rgb(223, 22, 22)
}